body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 100vh;
    margin: 0;
}

main{
    width: 100%;
    background-color: rgb(212, 221, 231);
    max-width: 600px;
padding: 10px;
border-radius: 10px;
}

input{
    display: flex;
    flex-grow: ;
    width: 80%;
    border: solid 1px;
border-radius: 10px;
height: 20px;
padding: 3px;
}

.botones{
    display: flex;
    height: 10%;

}

button{
    width: 93px;
    height: 20px;
    background-color: bisque;
    border: none;
    border-radius: 10px;
}

.sufrimiento{
    justify-content: center;
    min-height: 390px;
    background-color: bisque;
    border-radius: 10px;
}