body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 100vh;
    margin: 0;
}

main{
    width: 100%;
    background-color: rgb(212, 221, 231);
    max-width: 600px;
padding: 10px;
border-radius: 10px;
}



.botones{
    display: flex;
    height: 10%;
gap: 20px;
}

button{
    width: 100%;
    max-width: 200px;
    height: 20px;
    background-color: bisque;
    border: none;
    border-radius: 10px;
}

.sufrimiento{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap:10px;
    padding: 10px;
    min-height: 390px;
    background-color: bisque;
    border-radius: 10px;
}

.selected {
    background: red;
}